tqdm
rich
ninja
numpy
pandas
scipy
scikit-learn
matplotlib
opencv-python==4.5.5.64
imageio
imageio-ffmpeg
omegaconf

torch
einops
plyfile
pygltflib

# for gui
dearpygui

# for stable-diffusion
huggingface_hub
diffusers
accelerate
transformers

# for dmtet and mesh export
xatlas
trimesh
PyMCubes
pymeshlab

rembg[gpu,cli]

# gradio demo
gradio
